Programação/flows.json
[{"id":"f5b64ce9.e17af","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"af958c27.f554b","type":"template","z":"f5b64ce9.e17af","name":"style.css","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n    :root {\n        --led: '#ABFF00';\n        --inset:blue;\n        \n    }\n    \n</style>\n\n<script>\n    var r = document.querySelector(':root');\n    var a = {{timestamp}};\n    \n        if (a==0){\n           r.style.setProperty('--led', '#ADD8E6');\n          // document.getElementById(\"ledStatus\").className = \"led-green2\";\n        }\n        else {\n            r.style.setProperty('--led', '#ABFF00');\n            r.style.setProperty('--inset', '#304701 0 -1px 9px');\n        }\n\n</script>\n\n\n\n<style>\nbody {\n\tfont-family: 'Montserrat', sans-serif;\n}\n\nheader {\n\tbackground:#17882c;\n\tbackground-image: radial-gradient(ellipse at center,#17882c 1%,#00510f 100%);\n\tpadding: 20px 0;\n}\n\n.caixa {\n\tposition: relative;\n\twidth: 940px;\n\tmargin: 0 auto;\n\tdisplay: flex;\n\talign-items: center;\n\tflex-wrap: wrap;\n}\n\n.titulo {\n\tcolor: white;\n\tposition: absolute;\n}\n.caixa h2 {\n\tpadding: 1rem;\n\tcolor:white;\n\talign-self: flex-start;\n\tdisplay: flex;\n\tposition: absolute;\n\tleft: 75px;\n\t\n\n\t\n}\n\n.caixa h3 {\n\tpadding: 1rem;\n\tline-height: 1;\n\tcolor:white;\n\tfont-size: 1.8rem;\n\talign-self: center Left;\n}\n\n.layout {\n\tpadding-top: 1rem;\n \tmargin-left: auto;\n  \tmargin-right: auto;\n \twidth: 80%;\n\tdisplay: flex;\n}\n\n.led-box {\n\tposition: absolute;\n  \n  }\n  \n.led-green1 {\n\twidth: 24px;\n\theight: 24px;\n\tbackground-color: #ABFF00;\n\tborder-radius: 50%;\n\tbox-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;\n\tposition: absolute;\n\tmargin: 2rem 3rem;\n  }\n\n.led-green2 {\n\t  width: 24px;\n\t  height: 24px;\n\t  background-color: var(--led);\n\t  border-radius: 50%;\n\t  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var (--inset), #d8f0d9 0 2px 12px;\n\t  position: absolute;\n\t  margin: 2rem 8rem;\n\t}\n</style>","output":"str","x":640,"y":740,"wires":[["46068fd1.d5cb1"]]},{"id":"7a063939.4a5578","type":"template","z":"f5b64ce9.e17af","name":"reset.css","field":"payload.reset","fieldType":"msg","format":"html","syntax":"mustache","template":"/* http://meyerweb.com/eric/tools/css/reset/ \n   v2.0 | 20110126\n   License: none (public domain)\n*/\n\nhtml, body, div, span, applet, object, iframe,\nh1, h2, h3, h4, h5, h6, p, blockquote, pre,\na, abbr, acronym, address, big, cite, code,\ndel, dfn, em, img, ins, kbd, q, s, samp,\nsmall, strike, strong, sub, sup, tt, var,\nb, u, i, center,\ndl, dt, dd, ol, ul, li,\nfieldset, form, label, legend,\ntable, caption, tbody, tfoot, thead, tr, th, td,\narticle, aside, canvas, details, embed, \nfigure, figcaption, footer, header, hgroup, \nmenu, nav, output, ruby, section, summary,\ntime, mark, audio, video {\n\tmargin: 0;\n\tpadding: 0;\n\tborder: 0;\n\tfont-size: 100%;\n\tfont: inherit;\n\tvertical-align: baseline;\n}\n/* HTML5 display-role reset for older browsers */\narticle, aside, details, figcaption, figure, \nfooter, header, hgroup, menu, nav, section {\n\tdisplay: block;\n}\nbody {\n\tline-height: 1;\n}\nol, ul {\n\tlist-style: none;\n}\nblockquote, q {\n\tquotes: none;\n}\nblockquote:before, blockquote:after,\nq:before, q:after {\n\tcontent: '';\n\tcontent: none;\n}\ntable {\n\tborder-collapse: collapse;\n\tborder-spacing: 0;\n}","output":"str","x":480,"y":740,"wires":[["af958c27.f554b"]]},{"id":"46068fd1.d5cb1","type":"template","z":"f5b64ce9.e17af","name":"index.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"pt-br\">\n\t<head>\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width\">\n\t\t<title>IFSP - SmartCampusCatanduva</title>\n\n\t\t<link rel=\"stylesheet\" href=\"CSS/reset.css\">\n\t\t<link rel=\"stylesheet\" href=\"CSS/style.css\">\n\t\t<style>{{{payload.reset}}}</style>\n\t\t<style>{{{payload.style}}}</style>\n\t\t<link href=\"https://fonts.googleapis.com/css?family=Montserrat&display=swap\" rel=\"stylesheet\">\n\t</head>\n\n    <body>\n\t\t<header>\n\t\t\t<div class=\"caixa\">\n\t\t\t\t<h1><img src=\"https://www.ctd.ifsp.edu.br/images/IFSP-CTD2.png\"></h1>\n                <div class=\"titulo\"></div>\n                    <h2>Câmpus Catanduva</h2>\n                    <h3>Instituto Federal de São Paulo</h3>\n                \n            </div>\n\t\t</header>\n\t\t<main>\n\t\t\t<div class=\"layout\">\n\t\t\t\t<img src=\"https://github.com/MarcosSantos97/ProjetoAr/blob/main/Salas.png?raw=true\">\n\t\t\t\t<div  id=\"ledStatus\" class=\"led-box\">\n\t\t\t\t\t<div class=\"led-green1\"></div>\n\t\t\t\t</div>\n\t\t\t\t<div  id=\"ledStatus\" class=\"led-box\">\n\t\t\t\t\t<div class=\"led-green2\"></div>\n\t\t\t\t</div> \n\t\t\t</div>\n\t\t</main>\n\n    </body>\n</html>","output":"str","x":810,"y":740,"wires":[["e906cb16.79e458"]]},{"id":"a42fa80a.762958","type":"http in","z":"f5b64ce9.e17af","name":"","url":"teste","method":"get","upload":false,"swaggerDoc":"","x":120,"y":740,"wires":[["1a24ff22.98cb21"]]},{"id":"e906cb16.79e458","type":"http response","z":"f5b64ce9.e17af","name":"teste","statusCode":"","headers":{},"x":1110,"y":740,"wires":[]},{"id":"b255736d.97d99","type":"Stackhero-MySQL","z":"f5b64ce9.e17af","server":"db58fc31.63321","name":"","x":520,"y":300,"wires":[["434e1329.d84fac"]]},{"id":"434e1329.d84fac","type":"debug","z":"f5b64ce9.e17af","name":"resultado","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":300,"wires":[]},{"id":"f2755d1f.17155","type":"function","z":"f5b64ce9.e17af","name":"INSERT","func":"function convert () {\n        \n    // Faz a leytura do valor no paylaod\n    msg = {payload:msg.payload};\n    \n    // Converte payload para topic\n    msg.topic = msg.payload;\n    \n    // Faz a leitura do topic\n    msg = {topic:msg.topic};\n    \n    return msg;\n}\n\nif (\"Sala1\" == msg.topic){\n    \n    convert ();\n    msg.topic = \"INSERT INTO Sala1 (arCondicionado) VALUES (\"+msg.topic+\");\" \n    return msg;\n}\n\nif (\"Sala2\" == msg.topic){\n    \n    convert ();\n    msg.topic = \"INSERT INTO Sala2 (arCondicionado) VALUES (\"+msg.topic+\");\" \n    return msg;\n}\n\nif (\"Sala3\" == msg.topic){\n    \n    convert ();\n    msg.topic = \"INSERT INTO Sala3 (arCondicionado) VALUES (\"+msg.topic+\");\" \n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["b255736d.97d99"]]},{"id":"25b48430.c8ea9c","type":"mqtt in","z":"f5b64ce9.e17af","name":"","topic":"Sala2","qos":"2","datatype":"auto","broker":"855d693d.fc01e8","nl":false,"rap":true,"rh":0,"x":110,"y":360,"wires":[["f2755d1f.17155"]]},{"id":"536eca14.c52734","type":"mqtt out","z":"f5b64ce9.e17af","name":"","topic":"Sala2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"855d693d.fc01e8","x":670,"y":100,"wires":[]},{"id":"9eb8fd65.72f9c","type":"inject","z":"f5b64ce9.e17af","name":"Ligado","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":500,"y":100,"wires":[["536eca14.c52734"]]},{"id":"48acc2f6.b8351c","type":"inject","z":"f5b64ce9.e17af","name":"Desligado","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":510,"y":160,"wires":[["536eca14.c52734"]]},{"id":"191e0de7.3b3ef2","type":"comment","z":"f5b64ce9.e17af","name":"Inserindo Valores no banco de dados","info":"Inserindo Valores no banco de dados","x":210,"y":240,"wires":[]},{"id":"d87baeae.1fc2e","type":"mqtt out","z":"f5b64ce9.e17af","name":"","topic":"Sala1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"855d693d.fc01e8","x":290,"y":100,"wires":[]},{"id":"e2ab1d5.98690e","type":"inject","z":"f5b64ce9.e17af","name":"Ligado","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":120,"y":100,"wires":[["d87baeae.1fc2e"]]},{"id":"f818a05c.9b8f7","type":"inject","z":"f5b64ce9.e17af","name":"Desligado","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":160,"wires":[["d87baeae.1fc2e"]]},{"id":"7678b4f5.1a4f6c","type":"mqtt in","z":"f5b64ce9.e17af","name":"","topic":"Sala1","qos":"2","datatype":"auto","broker":"855d693d.fc01e8","nl":false,"rap":true,"rh":0,"x":110,"y":300,"wires":[["f2755d1f.17155"]]},{"id":"f5277a5b.caae68","type":"comment","z":"f5b64ce9.e17af","name":"Recebe Valores do ESP32","info":"Inserindo Valores no banco de dados","x":170,"y":40,"wires":[]},{"id":"83d3aae0.dcad88","type":"comment","z":"f5b64ce9.e17af","name":"Página WEB","info":"Inserindo Valores no banco de dados","x":130,"y":660,"wires":[]},{"id":"10da84c6.f9a4fb","type":"inject","z":"f5b64ce9.e17af","name":"","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":130,"y":580,"wires":[["a557aafb.5be3c8"]]},{"id":"a557aafb.5be3c8","type":"function","z":"f5b64ce9.e17af","name":"SELECT","func":"msg.topic = \"SELECT * FROM Sala1 order by id DESC limit 1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":580,"wires":[["ab0b501c.37511"]]},{"id":"ab0b501c.37511","type":"Stackhero-MySQL","z":"f5b64ce9.e17af","server":"db58fc31.63321","name":"","x":480,"y":580,"wires":[["65026949.21bef8"]]},{"id":"fbf2b328.13c97","type":"comment","z":"f5b64ce9.e17af","name":"Ler dados do banco","info":"","x":150,"y":520,"wires":[]},{"id":"b3f6903b.3a64c","type":"mqtt out","z":"f5b64ce9.e17af","name":"","topic":"Sala3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"855d693d.fc01e8","x":1050,"y":100,"wires":[]},{"id":"12648a4b.a54e46","type":"inject","z":"f5b64ce9.e17af","name":"Ligado","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":880,"y":100,"wires":[["b3f6903b.3a64c"]]},{"id":"8741004e.1f54e","type":"inject","z":"f5b64ce9.e17af","name":"Desligado","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":890,"y":160,"wires":[["b3f6903b.3a64c"]]},{"id":"a177554e.09f6d8","type":"mqtt in","z":"f5b64ce9.e17af","name":"","topic":"Sala3","qos":"2","datatype":"auto","broker":"855d693d.fc01e8","nl":false,"rap":true,"rh":0,"x":110,"y":420,"wires":[["f2755d1f.17155"]]},{"id":"65026949.21bef8","type":"function","z":"f5b64ce9.e17af","name":"INSERT","func":"msg = {payload:msg.payload[0].arCondicionado};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":580,"wires":[["9ffb28ab.50dbf8"]]},{"id":"7ac9c57b.86242c","type":"debug","z":"f5b64ce9.e17af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":580,"wires":[]},{"id":"9ffb28ab.50dbf8","type":"change","z":"f5b64ce9.e17af","name":"","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":580,"wires":[["7ac9c57b.86242c"]]},{"id":"1a24ff22.98cb21","type":"change","z":"f5b64ce9.e17af","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":740,"wires":[["7a063939.4a5578"]]},{"id":"db58fc31.63321","type":"Stackhero-MySQL-Server","name":"","host":"localhost","port":"3306","tls":false,"database":"horarios"},{"id":"855d693d.fc01e8","type":"mqtt-broker","name":"mqtt_smarthometech","broker":"smarthometech.duckdns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]